doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/js/jquery-1.10.2.min.js")
    script(type="text/javascript" src="/js/alphabet.js")

body
  block content

  h4 REST Client
  iframe(src='/html/postman.html' width="100%" height="50px")

  div
    p HTTP GET used to get documentation only
    p use HTTP POST method to access API

  div(align="center")
    canvas(id="myCanvas")
    script(type="text/javascript" src="/js/bubbles.js")
    script(type="text/javascript" src="/js/main.js")
  h5 Powered by Denchik&Dimka, inc.